interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.sec.gov/files/company_tickers.json
  response:
    body:
      string: '{"0":{"cik_str":1045810,"ticker":"NVDA","title":"NVIDIA CORP"},"2":{"cik_str":320193,"ticker":"AAPL","title":"Apple
        Inc."}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/submissions/CIK0000320193.json
  response:
    body:
      string: '{"cik":"0000320193","entityType":"operating","sic":"3571","sicDescription":"Electronic
        Computers","name":"Apple Inc.","tickers":["AAPL"],"exchanges":["Nasdaq"],"filings":{"recent":{"accessionNumber":["0001140361-26-025622","0001140361-26-025620","0000320193-26-000013"],"filingDate":["2026-06-17","2026-06-17","2026-05-01"],"form":["4","4","10-Q"],"primaryDocument":["form4.xml","form4.xml","aapl-20260329.htm"]}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
