interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.massive.com/v2/aggs/ticker/AAPL/range/1/day/1577923200000/1578096000000?adjusted=true&limit=50000&sort=asc
  response:
    body:
      string: '{"adjusted":true,"queryCount":2,"request_id":"6a7e466379af0a71039d60cc78e72282","results":[{"c":75.0875,"h":75.15,"l":73.7975,"n":1,"o":74.06,"t":1577941200000,"v":135647456,"vw":74.6099},{"c":74.3575,"h":75.145,"l":74.125,"n":1,"o":74.2875,"t":1578027600000,"v":146535512,"vw":74.7026}],"resultsCount":2,"status":"OK","ticker":"AAPL"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
