interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.massive.com/v3/reference/tickers?active=true&limit=2&market=stocks&order=asc&search=apple&sort=ticker
  response:
    body:
      string: '{"count":1,"request_id":"e70013d92930de90e089dc8fa098888e","results":[{"active":true,"cik":"0000320193","composite_figi":"BBG000B9XRY4","currency_name":"usd","last_updated_utc":"2026-06-20T00:00:00Z","locale":"us","market":"stocks","name":"Apple Inc.","primary_exchange":"XNAS","share_class_figi":"BBG001S5N8V8","ticker":"AAPL","type":"CS"}],"status":"OK"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
